<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="App">
<head>
    <title>Hello World First NodeJS App</title>
    <script src="js/angular.min.js"></script>
    <link rel="stylesheet" href="bootstrap-3.2.0-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="cssMain/MainStyle.css" />
    <link rel="stylesheet" href="css/Week4/employee.css" />
    <script src="js/Week4/app.js"></script>

</head>
<body>
    <div class="container" ng-controller="TableController">
        <h2>Description</h2>
        <p>
            Used NodeJS to capture array data and present it in a Form table
            Have installed Node,MongoDB and Rockmongo cartridges for the same in Openshift and host the website
            in the cloud.
        </p>
        <p>
            I am trying to create routes in NodeJS to capture array data from static array created
            in NodeJS server and show the response. Hit this <a href="http://employeesprojects-nairar.rhcloud.com/employees">page url</a>
            to see the json formatted data that i have stored. also you can try checking the environment parameters
            in the app() process by appending "/env" to the cloud url.
        </p>

        <hr />

        <h2>Purpose</h2>
        <p>
            The purpose of the experiment is to learn more about how NodeJS routes <b>GET</b> requests. I have made the code
            very modular to ensure that errors in coding are minimized and that I have a separate routes folder
            that services the various "GET" requests. I am storing a JSON array in the server and accessing it
            using routed "GET" calls via NodeJS api's.
        </p>

        <hr />

        <h2>Implementation</h2>
        <hr />

        <h1>Hello World application</h1>
        <h2>Employees</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        &nbsp;
                    </th>
                </tr>
                <tr>
                    <th>
                        <input class="form-control ng-valid ng-dirty" ng-model="newEmployee.name" placeholder="Enter name"/>
                    </th>
                    <th>
                        <button class="btn btn-success" ng-click="add(newEmployee)">
                            Add
                        </button>
                        <button class="btn btn-primary" ng-click="update()">
                            Update
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees">
                    <td>
                        {{employee.name}}
                    </td>
                    <th>
                        <button class="btn btn-primary" ng-click="select(employee)">Select</button>
                        <button class="btn btn-danger" ng-click="delete(employee._id)">Delete</button>
                    </th>
                </tr>
            </tbody>
        </table>
        <hr />

        <h2>References</h2>
        <p><a href="https://www.youtube.com/watch?v=QvSC2wHjyAY" target="_blank">Professor Jose's video examples</a></p>

        <hr />

        <h2>Source code</h2>
    </div>
    <script src="js/Week4/EmployeeController.js"></script>




</body>
</html>
